  {% if page.children %}
    <section class="showcase">
    {% for child in page.children|reverse %}
      <article id="id-{{ child.slug }}">
          <div class="content">
            {% include 'partials/assets/media.html' with {'page' : child} %}
            <div class="description">
              {{ child.content }}
            </div>
          </div>
          <h1 class="project-title"><a href="{{ child.url }}">{{ child.title }}</a></h1>
          <p class="read-more"><a role="button"><span class="more">read more</span> <span class="less">read less</span></a></p>
      </article>
    {% endfor %}
    </section>
  {% endif %}
