<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{{ page.title }} &mdash; {{ page.website }}</title>
  <meta name="description" content="{{ page.description }}">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="{{ page.root_path }}/templates/css/style.css">
<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  <script src="/templates/js/modernizr.js"></script>
</head>
<body class="{{ page.slug }}">
  <div class="container">

    <header id="page-header" role="banner">
    {% block header %}
      <h1><a href="/" class="ir">{{ page.name }}</a></h1>
      <nav role="navigation">
        <h1>Main Navigation</h1>
        {% include 'partials/navigation/navigation.html' %}
      </nav>
    {% endblock %}
    </header>

    <div class="main" role="main">
    {% block main %}{% endblock %}
    </div>

    <footer>
    {% block footer %}{% endblock %}
    </footer>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ page.root_path }}/templates/js/jquery.js"><\/script>')</script>

  <script src="{{ page.root_path }}/templates/js/plugins.js"></script>
  <script src="{{ page.root_path }}/templates/js/script.js"></script>

  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
