@import url(../../fonts.css);
h1, h2, h3, h4, b, strong {
  font-weight: normal; }

html {
  margin: 0 auto;
  background: white; }

/* 'AkzidenzGroteskBQ-Reg', 'AkzidenzGroteskBQ-Medium', AkzidenzGrotesk-Roman, 'AvenirLTStd-Medium', 'AvenirLTStd-Roman', */
body {
  font-family: 'Grotesque MT', serif;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto;
  width: 980px;
  zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }
  body.home {
    width: 1150px; }
  body.au {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform-origin: rotate(180deg);
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center; }

hr {
  clear: both;
  border: 1px solid;
  border-bottom: none;
  margin: 44px 0; }

p {
  margin: 0; }

p + p {
  text-indent: 2em; }

p + ul {
  margin-top: 22px; }

h1,
h2,
h3 {
  font-size: 18px; }

h2 {
  margin: 22px 0 0; }

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black; }

#page-header {
  padding-top: 33px; }
  #page-header h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 22px; }
    #page-header h1 a {
      border-bottom: none;
      letter-spacing: 0.1em; }
      #page-header h1 a .a {
        margin-left: -0.1em; }

nav {
  text-align: center; }
  nav h1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

ul#navigation {
  text-align: center;
  padding: 22px 0;
  display: inline; }
  ul#navigation li {
    display: inline;
    margin-right: 12px; }
    ul#navigation li a {
      border-bottom: 1px solid; }
    ul#navigation li:last-child {
      margin-right: 0; }
    ul#navigation li.active a, .home ul#navigation li.work a {
      border-bottom: none; }
  ul#navigation ol.children {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }

.main {
  padding-top: 0;
  zoom: 1; }
  .main:before, .main:after {
    content: "";
    display: table; }
  .main:after {
    clear: both; }

ul.projects {
  list-style: none;
  padding: 0; }
  ul.projects li {
    float: left;
    text-align: center;
    margin-bottom: 44px; }
    ul.projects li .thumb-wrapper {
      width: 100%;
      height: 308px;
      overflow: hidden; }
      ul.projects li .thumb-wrapper img {
        max-width: 100%; }
    ul.projects li h2 {
      margin-top: 11px;
      margin-bottom: 0;
      font-weight: normal; }
    ul.projects li p {
      margin-top: 0; }
    ul.projects li a {
      border-bottom: none; }

section.showcase {
  list-style: none;
  padding: 0; }
  section.showcase h1.section-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  section.showcase article {
    float: left;
    clear: left;
    width: 100%;
    text-align: center;
    margin-bottom: 66px;
    padding-top: 66px; }
    section.showcase article .media {
      height: 600px; }
      section.showcase article .media ul.images {
        list-style: none;
        margin: 0;
        padding: 0; }
    section.showcase article header {
      clear: left; }
      section.showcase article header h1 {
        margin-top: 3px;
        margin-bottom: 0;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.1em; }
      section.showcase article header p {
        margin-top: 0;
        font-weight: normal;
        font-size: 0.8125em;
        line-height: 20px; }
      section.showcase article header a {
        border-bottom: none; }
    section.showcase article .category {
      margin-top: 11px;
      font-size: 0.8125em;
      line-height: 20px; }
    section.showcase article .footnotes {
      font-size: 0.8125em;
      line-height: 20px; }
    section.showcase article .description {
      padding: 11px 40px 0 0;
      text-align: left; }
      section.showcase article .description .project-title {
        text-align: left;
        text-indent: 0;
        margin: 11px 0 11px 2em; }

.js section.showcase article {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .js section.showcase article .read-more {
    cursor: pointer;
    font-size: 0.8125em;
    line-height: 20px; }
    .js section.showcase article .read-more a span {
      border-bottom: 1px solid; }
    .js section.showcase article .read-more .less {
      display: none; }
  .js section.showcase article .content {
    position: relative; }
    .js section.showcase article .content .description {
      position: absolute;
      bottom: 50%;
      left: 50%;
      margin-left: -277px;
      padding: 22px;
      background: white;
      width: 510px;
      z-index: 10;
      -webkit-touch-callout: text;
      -webkit-user-select: text;
      -khtml-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
      display: none; }
  .js section.showcase article.description-active .content .description {
    display: block; }
  .js section.showcase article.description-active .read-more .more {
    display: none; }
  .js section.showcase article.description-active .read-more .less {
    display: inline; }

.about p + p {
  text-indent: 1.5em; }
.about .main {
  width: 1020px;
  margin: 0 0 0 -40px; }
  .about .main section {
    width: 300px;
    margin-left: 40px;
    float: left; }
    .about .main section#about {
      width: 640px;
      margin-left: 40px;
      margin-bottom: 22px; }
    .about .main section#exhibitions {
      clear: left; }
    .about .main section h1 {
      margin: 22px 0;
      text-transform: uppercase;
      letter-spacing: 0.1em; }
    .about .main section h1 + h2 {
      margin-top: 0; }
    .about .main section p + h1 {
      margin-top: 44px; }
    .about .main section ul {
      list-style: none;
      padding: 0; }

.blog article {
  clear: both;
  width: 470px;
  margin: 66px auto 132px;
  zoom: 1; }
  .blog article:before, .blog article:after {
    content: "";
    display: table; }
  .blog article:after {
    clear: both; }
  .blog article header {
    margin-top: 11px;
    margin-left: 0;
    text-align: center; }
    .blog article header time {
      font-size: 0.8125em;
      line-height: 20px; }
    .blog article header h1 {
      margin: 3px 0 22px; }
  .blog article .content {
    width: 470px;
    margin-left: 40px;
    margin-left: 0; }
  .blog article .media {
    width: 470px;
    text-align: center; }
    .blog article .media ul.images {
      list-style: none;
      margin: 0;
      padding: 0; }

/* MODULES */
.js article.gallery .image-counter {
  padding-top: 22px;
  font-size: 0.8125em;
  line-height: 20px; }
.js article.gallery .media {
  margin: 0 auto;
  overflow: hidden; }
  .js article.gallery .media ul.images li.image {
    display: none; }
    .js article.gallery .media ul.images li.image.show {
      display: block; }
    .js article.gallery .media ul.images li.image img {
      max-width: 100%;
      max-height: 600px; }

.prev-btn, .next-btn {
  height: 650px;
  width: 45%;
  position: absolute;
  cursor: pointer;
  z-index: 9;
  border: none;
  background: rgba(255, 255, 255, 0); }
  .lt-ie9 .prev-btn, .lt-ie9 .next-btn {
    background: white;
    filter: alpha(opacity=0); }

.prev-btn {
  left: 20px;
  cursor: w-resize;
  text-align: left;
  padding-top: 300px; }

.next-btn {
  right: 20px;
  cursor: e-resize;
  text-align: right;
  padding-top: 300px; }

.close-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  font-size: 0.8125em;
  line-height: 20px;
  border: none; }

.back-to-top {
  text-align: center;
  font-size: 0.8125em;
  line-height: 20px;
  padding: 154px 0 33px; }

.footnote {
  margin-top: 11px;
  font-size: 0.8125em;
  line-height: 20px;
  text-indent: 0; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
