@import "normalize";
@import "bourbon/bourbon";
@import "settings";
@import "neat/neat";
@import "boilerplate";

// VARIABLES

$gutter: 20px;
$column-width: 60px;
$fontsize: 16px;
$bigfontsize: 20px;
$smallfontsize: 13px;
$baseline: 22px;
