{% if page.children %}
  {% for child in page.children|reverse %}
    <article id="post-{{ child.id }}">
      <header>
        <time datetime="{{ child.date }}" pubdate="pubdate">{{ child.date }}</time>
        <h1>{{ child.title }}</h1>
      </header>
      {% include 'partials/assets/post-images.html' with { 'page' : child } %}

      <div class="content">
        {{ child.content }}
        <div class="footnotes"> {{ child.footnotes }}</div>
      </div>
    </article>
  {% endfor %}
{% endif %}
